/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-orange-1: hsl(12, 83%, 98%);
  --clr-orange-2: hsl(14, 91%, 95%);
  --clr-orange-3: hsl(12, 89%, 89%);
  --clr-orange-4: hsl(13, 87%, 82%);
  --clr-orange-5: hsl(13, 88%, 68%);
  --clr-orange-6: hsl(13, 88%, 55%);
  --clr-orange-7: hsl(13, 74%, 49%);
  --clr-orange-8: hsl(13, 74%, 33%);
  --clr-orange-9: hsl(13, 73%, 25%);
  --clr-orange-10: hsl(13, 73%, 16%);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p,
span,
summary {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.25rem;
}
h1 {
  font-size: 1rem;
  font-weight: 800;
}
h2 {
  font-size: 1rem;
}
h3, h4, input,span,summary {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
  text-transform: none;
}

/*  global classes */
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.container{
  padding: 0.5rem 2rem;
}
.full-container{
  height: 100%;
}
.center-container{
  justify-content: flex-start;
}

/* section */
header{
  position: relative;
}
.app-logo{
  display: flex;
  background: blanchedalmond;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  height: fit-content;
  width: fit-content;
  align-items: center;
}
.app-logo__title {
  line-height: 1.25;
}
.app-logo__img{
  height: fit-content;
}
.app-logo__img:hover, .app-logo__img:focus {
  animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
  backface-visibility: hidden;
  transform-origin: top right;
}
@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}
.app-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  background: var(--clr-white);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.app-modal span {
  margin-bottom: 0;
  color: var(--clr-red-dark);
}
.app-srv-block{
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  height: 100%;
  overflow-x: auto;
}
.app-srv-block__list__add-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.app-srv-block__list__add-form form{
  display: flex;
  margin-bottom: 1rem;
}
.app-srv-block__list__add-form input {
  display: inline-block;
  width: 100%;
  background: var(--clr-grey-10);
  border-color: transparent;
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
}
.app-srv-block__list__add-form input,
.app-srv-block__list__dropdown_item span:not(:last-child){  
  margin-right: 0.5rem;
}
.app-srv-block__list__add-form button, 
.app-srv-block__list__dropdown button {
  display: inline-block;
  background: var(--clr-black);
  color: var(--clr-white);
  border-color: transparent;
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
}
.app-srv-block__list__dropdown summary{
  margin-bottom: 0.5rem;
}
.app-srv-block__list__dropdown_item__filter{
  background: var(--clr-grey-9) !important;
}
.filter--active{
  background: var(--clr-grey-6) !important;
}
.app-srv-block__list__dropdown_item, .app-srv-block__list__twits__item span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.app-srv-block__list__dropdown_item span:first-child{
  overflow: hidden;
}
.app-srv-block__list__dropdown_item button:not(:last-child){
  margin-right: 0.5rem;
}
.app-srv-block__list__twits{
  height: 55vh;
  overflow-y: scroll;
}
.app-srv-block__list__twits__item {
  display: flex;
  flex-direction: column;
  background: var(--clr-white);
  margin: 1rem auto;
  border-radius: var(--radius);
}
.app-srv-block__list__twits__item button,
.app-srv-block__list__twits__item a,
.app-srv-block__list__dropall button {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
  cursor: pointer;
}
.app-srv-block__list__twits__item:first-child{
  margin-top: 0;
}
.app-srv-block__list__twits__item:last-child{
  margin-bottom: 0;
}
.app-srv-block__list__dropall button{
  padding: 0.25rem 0;
  color: var(--clr-primary-1);
}
.app-srv-block__list__twits__item__img {
  height: 180px;
  border-radius: 1rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} 
.app-flag {
  height: 20px;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: linear-gradient(180deg, #4166f5 50%, #ffff00 50%);
} 
footer {
  position: relative;
  text-align: center;
}
/* resolution breakpoints */
@media screen and (min-width: 480px){
  .app-srv-block__list__twits__item__img {
    height: 220px;
  }
}
@media screen and (min-width: 560px) {
  .app-modal{
    width: 160px;
  }
  .app-srv-block__list__twits__item__img {
    height: 260px;
  }
}
@media screen and (min-width: 640px) {
  .app-srv-block{
    grid-auto-columns: calc(50% - 0.5rem);
  }
  .app-srv-block__list__twits__item__img {
    height: 180px;
  }
}
@media screen and (min-width: 900px) {
  .app-modal{
    width: 200px;
  }
  .app-srv-block__list__twits__item__img {
    height: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .center-container{
    justify-content: center;
  }
  .app-srv-block__list__add-form input, .app-srv-block__list__add-form button, .app-srv-block__list__dropdown button {
    padding: 0.5rem 0.75rem;
  }
  .app-srv-block__list__add-form input,
  .app-srv-block__list__dropdown_item span:not(:last-child){ 
    margin-right: 0.75rem;
  }
  .app-srv-block__list__twits__item__img {
    height: 260px;
  }
}
@media screen and (min-width: 1200px) {
  .app-srv-block{
    grid-auto-columns: calc(33% - 0.5rem);
  }
  .app-srv-block__list__twits__item__img {
    height: 220px;
  }
}
@media (min-width: 1680px) {
  .app-srv-block__list__twits__item__img {
    height: 260px;
  }
}